shapely==1.6.4.post2
pytest==3.0.6
tensorboardX==1.5
lap==0.4.0
vi3o==0.7.4
opencv-python==4.0.0.21
h5py==2.7.0
scipy==1.1.0
pplp==0.1
requests==2.12.4
lapsolver==1.0.2
https://github.com/hakanardo/py-motmetrics/archive/d35f316e9c41ee163faf82c328335f37c4ad6775.zip
click==6.6
