shapely==1.6.4.post2
pytest==3.0.6
tensorboardX==1.5
lap==0.4.0
vi3o==0.7.4
opencv-python==4.0.0.21
scipy==1.1.0
pplp==0.1
requests==2.20.0
lapsolver==1.0.2
https://github.com/hakanardo/py-motmetrics/archive/316be837d4243c81b360c5960baca4d7021989f5.zip
click==6.6
tqdm==4.26.0
h5py==2.10.0
